* {
    outline: none;
}

#new-image {
    display: none;
}

#editor {
    display: flex;
    flex-direction: column;
    margin: 0;
}

#og-image[src=""],
#og-image[src="undefined"] {
    height: 320px;
    opacity: 0;
}

.figure {
    transition: transform .2s ease-out, box-shadow .2s ease-out !important;
}

.figure > .img-editor {
    position: absolute;
    z-index: 1;
    display: none;
    width: 300px;
    padding: 12px 0;
}

.figure:hover > .img-editor {
    display: block;
    width: 80%;
    min-width: 200px;
}

.figure.-dragging {
    box-shadow: 0 16px 72px rgba(0,0,0,.6);
    transform: scale(1.1);
}

.figure.-dragging > .img-editor {
    display: none;
}

.figure > .img-editor > .editor {
    appearance: none;
    width: 100%;
    margin: 0;
    padding: 6px 12px;
    font-size: 18px;
    color: var(--title);
    border: 0;
    border-radius: 4px;
    background-color: var(--background);
    box-shadow: 0 8px 40px rgba(0,0,0,.2);
    outline: none;
}

.figure > .img-editor > .editor.alt {
    margin: 8px 0 0;
    width: 200px;
}

.h1, .h2, .p {
    transition: transform .2s ease-out, text-shadow .2s ease-out;
}

.h1.-dragging, .h2.-dragging, .p.-dragging {
    transform: scale(1.05);
    text-shadow: 0 12px 12px rgba(0,0,0,.25);
}

/* * Image Selector */
#image-search {
    display: flex;
    flex: 1;
    appearance: none;
    font-size: 21px;
    color: var(--title);
    font-weight: 400;
    padding-left: 8px;
    border: 0;
    background-color: transparent;
}

#image-search::placeholder {
    font-weight: 300;
}

#image-selector-overlay {
    position: fixed;
    z-index: 2;
    top: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100vh;
    background-color: rgba(0,0,0,.375);
}

#image-selector-overlay > .container {
    display: flex;
    flex-direction: column;
    width: 640px;
    margin: 0 auto;
    height: 80vh;
    background-color: var(--root);
    border-radius: 8px;
    overflow: hidden;
    box-shadow: 0 4px 25px rgba(0,0,0,.2);
}

#image-selector-overlay > .container > .toolbar {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 80px;
    margin: 0 auto;
    background-color: var(--root);
    padding: 20px 30px;
}

#image-selector-overlay > .container > .toolbar > .search {
    display: flex;
    flex: 1;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    height: 40px;
    padding: 0 12px;
    background-color: var(--preload);
    border-radius: 4px;
}

#editor-add-image {
    appearance: none;
    width: 40px;
    height: 40px;
    margin-left: 10px;
    border: 0;
    background-color: var(--preload);
    border-radius: 6px;
    outline: none;
    cursor: pointer;
}

#close-image-selector {
    appearance: none;
    width: 40px;
    height: 40px;
    margin-left: 10px;
    border: 0;
    background-color: transparent;
    outline: none;
    cursor: pointer;
}

#image-selector {
    display: grid;
    grid-template-columns: repeat(auto-fill, 280px);
    grid-template-rows: repeat(auto-fill, 220px);
    grid-gap: 20px;
    padding: 4px 0;
    justify-content: center;
    overflow-x: hidden;
    overflow-y: auto;
}

#image-selector > .selector {
    width: 100%;
    height: 220px;
    margin-bottom: 10px;
    border-radius: 6px;
    transition: box-shadow .15s ease-out, background-color .15s ease-out;
    cursor: pointer;
}

#image-selector > .selector > .figure,
#image-selector > .selector > .figure > .img {
    width: 100%;
    height: 174.38px;
    border-radius: inherit;
    object-fit: cover;
    object-position: center;
    margin: 0;
    box-shadow: unset;
}

#image-selector > .selector > .name {
    font-size: 16px;
    color: var(--content);
    text-align: center;
    font-weight: 300;
    margin: 12px 0 0 0;
}

#image-selector > .selector:hover,
#image-selector > .selector:focus {
    box-shadow: 0 0 0 3px var(--link);
    background-color: var(--link-overlay);
}

#image-selector > .selector:hover > .name,
#image-selector > .selector:focus > .name {
    color: var(--link);
    font-weight: 400;
}

/* Toolbar */
#toolbar {
    position: absolute;
    top: -100px;
    left: calc(50% - 320px - 80px);
}

#toolbar > .type {
    appearance: none;
    width: 60px;
    font-size: 14px;
    font-weight: 500;
    color: var(--content);
    text-transform: lowercase;
    border: 0;
    padding: 8px 0;
    background-color: transparent;
}

#toolbar > .type-selector {
    position: absolute;
    display: none;
    flex-direction: column;
    width: 80px;
    left: -10px;
    padding: 12px 0;
    background-color: var(--root);
    border-radius: 6px;
    box-shadow: 0 4px 25px rgba(0,0,0,.1);
}

#toolbar:hover > .type-selector,
#toolbar:focus > .type-selector {
    display: flex;
}

#toolbar > .type-selector > .selector {
    appearance: none;
    width: 100%;
    color: var(--detail);
    font-weight: 500;
    padding: 8px;
    border: 0;
    background-color: transparent;
    border-radius: 2px;
}

#toolbar > .type-selector > .selector:hover,
#toolbar > .type-selector > .selector:focus {
    color: var(--link);
    background-color: var(--link-overlay);
    cursor: pointer;
}

#toolbar > .type-selector > .selector.-hidden {
    display: none;
}

#editor > .figure > .img[src="undefined"],
#editor > .figure > .img[src=""] {
    height: 320px;
    opacity: 0;
}

#selector-tools, #link-tools, #href-tools {
    position: absolute;
    top: -100;
    z-index: 3;
    padding: 20px;
}

#link-tools {
    padding: 10px 20px;
}

#selector-tools,
#link-tools > .list,
#href-tools {
    display: flex;
    flex-direction: row;
    padding: 0 12px;
    height: 40px;
    background-color: var(--root);
    border-radius: 8px;
    box-shadow: 0 4px 25px rgba(0,0,0,.2);
}

#selector-tools > .tool,
#href-tools > .tool,
#link-tools > .list > .tool {
    appearance: none;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    color: var(--content);
    font-size: 14px;
    font-weight: 300;
    background-color: transparent;
    border: 1px solid transparent;
    border-radius: 4px;
    cursor: pointer;
    transition: border-color .15s, background-color .15s;
}

#href-tools {
    width: 320px;
    margin: 12px 0;
}

#change-href {
    appearance: none;
    display: flex;
    flex: 1;
    height: 40px;
    color: var(--content);
    font-size: 16px;
    border: 0;
    border-radius: 4px;
}

#selector-tools > .tool:hover,
#selector-tools > .tool:focus,
#link-tools > .list > .tool:hover
#link-tools > .list > .tool:focus {
    border-color: var(--link);
    background-color: var(--link-overlay);
}